name: Continuous integration

on:
  push:

  workflow_call:

jobs:
  dotnet-format:
    uses: ./.github/workflows/dotnet_format.yaml
    with:
      ref: ${{ github.ref }}
      workspace: "TestWebApi"
      dotnet-version: 6.0
