name: Dotnet format

on:
  workflow_call:
    inputs:
      dotnet-version:
        description: dotnet version for the service
        type: string
        default: "6.0"
      ref:
        description: The ref of the branch that triggered the workflow. For PRs, github.head_ref can be used.
        type: string
        required: true
      workspace:
        description: The filepath for the dotnet solution
        type: string
        default: "."

jobs:
  dotnet-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Format
        run: |
          if [[ ("${{ github.ref }}" == "refs/heads/main" || "${{ github.ref }}" == "refs/heads/master") && "${{ github.event_name }}" == "push" ]]; then
          # Trunk based development (needs to be push event to access event.before/event.after below)
            diff=$(git diff --name-only "${{ github.event.before }}...${{ github.event.after }}")
          else
            diff=$(git diff --name-only origin/main...${{ inputs.ref }})
          fi
          if [[ -n $diff ]]; then
            dotnet format ${{ inputs.workspace }} --no-restore --report Output/ --verify-no-changes --include $diff
          fi
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: "format-Output-${{ inputs.workspace }}"
          path: Output/
